@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,500;0,600;1,400&display=swap");
*, html, body, a {
  font-family: "Arimo", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--gradient-supersoft, linear-gradient(208deg, #323264 0%, #323264 59.9%, #643E72 100%));
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab__container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  align-items: center;
}
.tab__items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: right;
}
.tab__item {
  color: var(--grey-text, #B3B3BA);
  font-size: 42px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}
.tab__item-active {
  background: var(--gradient-text-red-reversed, linear-gradient(118deg, #EF8080 0%, #F0145A 100%));
  transition: all 0.3s ease-in-out 0s;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.tab__item-active::after {
  content: "";
  width: 3px;
  height: 120%;
  background: #F0145A;
  display: block;
  position: absolute;
  right: -43px;
  top: -4px;
  transition: all 0.3s linear 0s;
}
.tab__line {
  height: 310px;
  width: 10px;
  background-color: #fff;
}
.tab__contents {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.tab__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.tab-content__title {
  color: var(--white, #FFF);
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.tab-content__text {
  color: var(--white, #FFF);
  font-size: 21px;
  font-weight: 400;
  line-height: 30px; /* 142.857% */
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.anim {
  animation-name: anim;
  animation-duration: 1.5s;
}

@keyframes anim {
  from {
    transform: translateY(-130px);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}